/*общее для нескольких элементов*/
.block-color {
  background-color: #FFF;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/*header*/
.header {
  display: grid;
  max-width: 1100px;
  height: 293px;
  grid-template-columns: 1fr min-content 1fr;
  align-items:center;
  margin:0 auto;
  padding:50px;
}

.header-links-list {
  display:flex;
  gap:32px;
  list-style: none;
  margin-bottom: 8px;
}

.header-links-list-item {
  list-style: circle;
}

.header-links-list-item_no-bullit {
  list-style: none;
}

.header-link {
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header-link-active {
  text-decoration: none;
}

.header-logo {
  width: 130px; 
  height: 105px;
}

.header-address {
  justify-self: end;
  line-height: 25px;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  margin-right: 36px;
  margin-bottom: 10px;
  text-underline-offset: 4px;
}

/*main*/
.main {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

/*main-cover*/
.cover {
  min-height: 757px;
  max-width: 1100px;
  display: flex;
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  padding: 165px 50px 50px;
  flex-direction: column;
}

.cover-title {
  display: flex;
  text-transform: uppercase;
  color:#FFF;
  font-size:100px;
  font-weight: 700;
  letter-spacing: 30px;
  line-height: 115%;
  z-index: 2;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 106px;
  width: 1000px;
}

.align-text-start {
  text-align: start;
}

.align-text-center {
  text-align: center;
  margin-left: 25px;
}

.align-text-end {
  text-align: end;
  margin-right: -30px;
}

.description {
  display: flex;
  z-index: 2;
  color:#FFF;
  min-height: 51px;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
}

.description-text {
  align-self: center;
  text-transform: uppercase;
  line-height: 28px;
  font-size: 22px;
  word-spacing: 18px;
  font-weight: 400;
}

.description-button {
  background: transparent;
  border: 1px solid #FFF;
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 12px 32px;
  cursor: pointer;
}

/*main-lots*/
.lots {
  padding:50px 25px 0;
  min-height: 723px;
  margin: 0 auto;
  max-width: 1000px;
}

.lots-title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 27px;
  margin-left: 38px;
}

.lots-card-list {
  display: flex;
  justify-content: space-between;
  color:#FFF;
  flex-wrap: nowrap;
  gap: 25px;
  margin-bottom: 30px;
}

.lots-card-list-item {
  list-style: none;
  width: 334px;
  height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-film {
  background-image: url("../images/card-lot-01.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

.card-book {
  position: relative;
  background-image: url("../images/card-lot-02.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

.card-paint {
  position: relative;
  background-image: url("../images/card-lot-03.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

.card-title {
  position: relative;
  z-index: 2;
  line-height: 120%;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 700;
}

.card-text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
}

.lots-link-more {
  font-size:20px;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

/*main-about*/
.about {
  display: flex;
  gap:72px;
  padding:0 24px;
  min-height: 595px;
  max-width: 1100px;
}

.about-column {
  display: flex;
  flex-direction: column;
}

.column-image {
  padding: 35px 0 0 47px;
}

.column-text {
  margin-top: 133px;
}

.about-logo {
  display: flex;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.about-logo-image {
  width: 142px;
  height: 113px;
}

.about-column-title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-column-description {
  margin-top: 103px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

/*footer*/
.footer {
  display: flex;
  justify-content: space-between;
  height: 180px;
  margin-top: 180px;
  padding: 0 50px;
  max-width: 1100px;
}

.footer-address {
  justify-self: start;
  line-height: 25px;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  text-underline-offset: 4px;
}

.footer-menu-list {
  list-style: none;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.footer-list-item {
  list-style: none;
  justify-self: center;
}

.footer-menu-link {
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer-menu-link-active {
  text-decoration: none;
}

.footer-social-list {
  display: flex;
  list-style: none;
  gap: 48px;
  
}

.footer-social-icon {
  width: 48px;
  height: 48px;
}